.products-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(128, 128, 128, 0.664);
  display: flex;
  align-items: center;
  justify-content: center;

  .products-block {
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: 900px;
    display: grid;
    position: relative;
    padding: 20px 15%;

    & > img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 15px;
      right: 15px;
      transition: scale 0.3s;

      &:hover {
        scale: 1.1;
      }
    }

    .img-catal {
      display: flex;
      justify-self: center;
      padding: 10px;
      padding-top: 30px;
      background-color: #f3f3f3;
      border-radius: 10px;
      position: relative;
      width: 300px;
      height: 300px;

      input {
        position: absolute;
        top: 5px;
        left: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    & > select,
    & > textarea,
    & > input {
      border: 1px solid rgba(128, 128, 128, 0.384);
      padding: 5px 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      font-family: OpenSans;
      color: gray;

      &:focus {
        outline: none;
        border-color: orange;
      }
    }

    & > input {
      &:first-of-type {
        margin-top: 30px;
      }
    }

    & > textarea {
      resize: none;
      min-height: 50px;
    }

    button {
      border: 1px solid orange;
      color: orange;
      font-family: TTHoves;
      font-size: 20px;
      text-transform: uppercase;
      background-color: transparent;
      border-radius: 10px;
      margin-top: 30px;
      transition: all 0.3s;

      &:hover {
        color: white;
        background-color: orange;
      }
    }
  }
}
