@mixin fonts($ff, $fs, $fw, $lh, $ls, $ta, $td, $tt, $c) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  text-decoration: $td;
  text-transform: $tt;
  text-align: $ta;
  color: $c;
}

$a-hover: rgb(255, 191, 71);

header {
  padding-top: 15px;

  .h-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .h-t-left {
      display: flex;
      align-items: center;

      a {
        position: relative;
        user-select: none;

        @include fonts(
          TTHoves,
          15px,
          600,
          12px,
          0.2em,
          center,
          none,
          uppercase,
          #333333
        );

        margin: 0 10px;

        &:first-child {
          display: flex;
          align-items: center;
          border: 2px solid #ffa500;
          border-radius: 10px;
          margin-left: 0;

          img {
            margin: 0 5px;
          }

          div {
            font-size: 25px;
            font-family: KaiseiDecol, sans-serif;
            color: #ffa500;
            margin-right: 10px;
            letter-spacing: 0;
            line-height: 25px;
          }
        }

        &:not(:first-child) {
          transition: color 0.2s;

          &:hover {
            color: $a-hover;
          }

          &::after,
          &::before {
            content: "";
            position: absolute;
            left: -2px;
            height: 2px;
            width: 100%;
            background: $a-hover;
            transform: scaleX(0);
            transition: transform 0.2s ease-in-out;
          }

          &::before {
            bottom: -5px;
            transform-origin: right;
          }

          &::after {
            transform-origin: left;
            top: -5px;
          }

          &:not(.active) {
            &:hover {
              &::after,
              &::before {
                transform: scaleX(1);
              }

              &::before {
                transform-origin: left;
              }

              &::after {
                transform-origin: right;
              }
            }
          }

          &:is(.active) {
            color: orange;
          }
        }
      }
    }

    .h-t-right {
      display: flex;
      align-items: center;

      img {
        width: 3em;
        height: 3em;
      }

      .h-contact {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        a {
          margin: 5px 0;
          transition: color 0.2s;

          @include fonts(
            TTHoves,
            15px,
            600,
            12px,
            0.2em,
            center,
            outline,
            uppercase,
            #333333
          );

          &:hover {
            color: $a-hover;
          }
        }
      }
    }
  }

  .h-bottom {
    background-color: #f3f3f3;
    padding: 10px 0;
    margin-top: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .h-catalog {
        position: relative;
        width: 30%;

        button {
          border: 0;
          background-color: orange;
          padding: 20px;
          display: grid;
          grid-template-columns: auto 1fr;
          width: 100%;
          border-radius: 10px;
          transition: border-radius 0.3s 0.3s;
          @include fonts(
            TTHoves,
            15px,
            600,
            12px,
            0.2em,
            center,
            none,
            uppercase,
            white
          );

          & > div {
            &:first-child {
              transform: scale(1.5);
            }

            &:last-child {
              &::after {
                content: "\25BC";
                margin-left: 0px;
                opacity: 0;
                display: inline-block;
                transition: all 0.5s;
              }
            }
          }
        }

        .h-catalog-modal {
          position: absolute;
          padding: 0 15px;
          left: 0;
          right: 0;
          background-color: #f3f3f3;
          z-index: 3;
          opacity: 0;
          visibility: hidden;
          overflow: hidden;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          box-shadow: 0px 2px 15px 0px rgba(51, 51, 51, 0.64);
          transform: translateY(20px);
          transition: all 0.5s 0.3s;

          hr {
            border: 1px solid #33333327;
          }

          & > a {
            display: flex;
            align-items: center;
            margin: 20px 0;
            cursor: pointer;
            transition: text-decoration 0.3s;
            text-decoration: none;

            img {
              width: 50px;
              margin-right: 10px;
              transition: transform 0.3s;
            }

            div {
              transition: color 0.3s;

              @include fonts(
                TTHoves,
                20px,
                600,
                20px,
                0.1em,
                none,
                none,
                none,
                #333333
              );
            }

            &:hover {
              img {
                transform: scale(1.2);
              }
            }
          }
        }

        &:hover {
          button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            & > div {
              &:last-child {
                &::after {
                  margin-left: 20px;
                  opacity: 1;
                }
              }
            }
          }

          .h-catalog-modal {
            opacity: 1;
            transform: translateY(0px);
            visibility: visible;
          }
        }
      }

      .h-search {
        display: flex;

        input {
          border: 2px solid rgba(128, 128, 128, 0.438);
          border-right: 0;
          padding: 15px 10px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 30em;
          height: 100%;
          @include fonts(
            OpenSans,
            13px,
            400,
            12px,
            0.1em,
            none,
            none,
            none,
            #333333
          );

          &:focus {
            outline: 0;
            box-shadow: 0px 0px 5px 0px rgb(255, 184, 51);
          }
        }

        button {
          border: 0;
          background-color: orange;
          padding: 0 20px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;

          svg {
            transform: scale(1);
            transition: transform 0.2s ease-in-out;
          }

          &:hover {
            svg {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  width: 60%;
  padding: 20px;
  box-shadow: 0 0 10px 0 black;
  z-index: 7;
  transform: translateX(-100%);
  visibility: hidden;
  transition: all 0.3s;

  &:is(.open-menu) {
    transform: translateX(0);
    visibility: visible;
  }

  .cross-icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    div {
      background-color: orange;
      padding: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;

      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  .burger-top {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    a {
      display: flex;
      align-items: center;
      border-radius: 10px;
      border: 2px solid orange;
      padding: 0 10px;
      text-decoration: none;

      img {
        margin-right: 10px;
      }

      div {
        font-size: 30px;
        color: orange;
        text-transform: uppercase;
        font-weight: 600;
        font-family: KaiseiDecol, sans-serif;
      }
    }
  }

  .burger-middle {
    h2 {
      font-family: TTHoves;
      text-transform: uppercase;
      color: rgba(128, 128, 128, 0.493);
      margin-bottom: 5px;
    }

    a {
      display: flex;
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: 600;
      font-family: TTHoves;
      padding: 10px;
      transition: color 0.3s;

      span {
        margin-right: 10px;
      }

      &:hover {
        color: $a-hover;
      }

      &:is(.active) {
        color: orange;
      }
    }

    hr {
      border: 1px solid rgba(128, 128, 128, 0.274);
      margin: 0;
    }
  }

  .burger-bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;

    & > div {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        margin-right: 10px;
      }

      & > div {
        a {
          display: block;
          color: black;
          font-weight: 600;
          font-family: TTHoves;
          font-size: 20px;
          margin: 10px 0;
        }
      }
    }
  }
}

.burger-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  opacity: 0;
  visibility: hidden;
  z-index: 6;
  transition: all 0.3s;

  &:is(.open-bg) {
    opacity: 0.5;
    visibility: visible;
  }
}

@media only screen and (max-width: 1318px) {
  header {
    .h-top {
      .h-t-right {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  header {
    .h-bottom {
      & > div {
        .h-catalog {
          width: 50%;

          button {
            & > div:last-child {
              justify-self: center;
            }
          }
        }

        .h-search {
          input {
            width: 15em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1015px) {
  header {
    .h-top {
      .h-t-left {
        a:first-child {
          div {
            font-size: 20px;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 969px) {
  header {
    .h-top {
      .h-t-left {
        a:first-child {
          div {
            font-size: 18px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 944px) {
  header {
    .h-top {
      .h-t-left {
        a {
          margin: 0 5px;
        }

        a:first-child {
          img {
            width: 55px;
            height: 55px;
          }

          div {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 844px) {
  header {
    .h-top {
      position: sticky;
      top: 0;
      z-index: -1;

      .h-t-left {
        a:first-child {
          img {
            width: 61px;
            height: 61px;
          }

          div {
            font-size: 25px;
          }
        }

        a:not(:first-child) {
          display: none;
        }
      }
    }

    .h-bottom {
      & > div {
        .h-catalog {
          button {
            width: auto;

            div:first-child {
              letter-spacing: 0;
            }

            div:last-child {
              display: none;
            }

            &:hover {
              border-radius: 10px;
            }
          }

          .h-catalog-modal {
            display: none;
          }
        }

        .h-search {
          justify-content: end;

          &:hover {
            input {
              width: 100%;
              visibility: visible;
              opacity: 1;
            }

            button {
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
            }
          }

          input {
            width: 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s;
          }

          button {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            transition: border-radius 0.3s;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 554px) {
  .burger-menu {
    .burger-top {
      a {
        div {
          font-size: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 501px) {
  .burger-menu {
    .burger-top {
      a {
        img {
          width: 55px;
        }

        div {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 438px) {
  .burger-menu {
    .burger-top {
      a {
        img {
          width: 52px;
        }

        div {
          font-size: 17px;
        }
      }
    }
  }
}

@media only screen and (max-width: 411px) {
  .burger-menu {
    .burger-bottom {
      & > div {
        img {
          width: 40px;
        }

        & > div {
          a {
            font-size: 17px;
            margin: 5px 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 401px) {
  .burger-menu {
    .burger-top {
      a {
        padding: 0 5px;
        img {
          margin-right: 5px;
          width: 50px;
        }

        div {
          font-size: 15px;
        }
      }
    }

    .burger-middle {
      a {
        padding: 10px 0;
      }

      span {
        margin-right: 5px;
      }
    }
  }
}

@media only screen and (max-width: 351px) {
  .burger-menu {
    .burger-top {
      a {
        padding: 0 0;
        img {
          margin-right: 0;
          width: 48px;
        }

        div {
          font-size: 15px;
        }
      }
    }

    .burger-bottom {
      & > div {
        img {
          width: 35px;
        }

        & > div {
          a {
            font-size: 15px;
            margin: 5px 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 323px) {
  .burger-menu {
    .burger-top {
      a {
        img {
          width: 45px;
        }
      }
    }

    .burger-bottom {
      & > div {
        & > div {
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
}
