.auth-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.575);
  z-index: 5;

  & > div {
    border: 1px solid gray;
    border-radius: 10px;
    width: 50em;
    height: 10em;
    margin: auto;
    background-color: #f3f3f3;
    margin-top: 50vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    img {
      align-self: flex-end;
      width: 30px;
      cursor: pointer;
      margin-top: 10px;
      margin-right: 10px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    div {
      margin: auto;
      font-family: TTHoves;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: 0.05em;
      text-decoration: none;
      text-transform: none;
      text-align: center;
      color: rgb(87, 87, 87);
    }
  }
}

.auth-block {
  border: 1px solid gray;
  border-radius: 10px;
  width: 50em;
  margin: 10em auto;
  height: 30em;
  display: grid;
  grid-template-rows: repeat(3, auto);

  div {
    width: 30em;
    margin: auto;
    font-family: TTHoves;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    color: rgb(87, 87, 87);
  }

  img {
    width: 100px;
    margin: auto;
  }

  input {
    width: 60%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.308);
    font-size: 15px;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 20em;
    height: 5em;
    border-radius: 10px;
    border: 0;
    margin: auto;
    background-color: orange;
    font-family: TTHoves;
    font-size: 15px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 100px;
      top: -10px;
      transform: rotate(29deg);
      background-color: white;
    }

    &::before {
      opacity: 0.3;
      left: -40px;
    }

    &::after {
      opacity: 0.5;
      left: -70px;
    }

    &:hover {
      &::before {
        animation: button-blick-b 0.4s;
      }

      &::after {
        animation: button-blick-a 0.4s;
      }
    }
  }
}

@keyframes button-blick-b {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(410px) rotate(29deg);
  }
}

@keyframes button-blick-a {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(390px) rotate(29deg);
  }
}

@media only screen and (max-width: 1160px) {
  .auth-block {
    width: 100%;

    div {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 515px) {
  .auth-block {
    margin: 100px 10px;

    button {
      width: 70%;
    }
  }
}
