@mixin fonts($ff, $fs, $fw, $lh, $ls, $ta, $td, $tt, $c) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  text-decoration: $td;
  text-transform: $tt;
  text-align: $ta;
  color: $c;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 30px;

  .info {
    border: 1px solid rgba(128, 128, 128, 0.11);
    border-radius: 20px;
    padding: 30px;

    & > div {
      display: flex;
      align-items: center;

      h2 {
        @include fonts(
          TTHoves,
          20px,
          600,
          20px,
          0,
          none,
          none,
          uppercase,
          orange
        );
      }

      &:nth-child(2) {
        margin-bottom: 30px;
        display: grid;

        h2 {
          margin-top: 0;
        }

        & > div {
          display: flex;
        }
      }

      &:last-child {
        display: grid;
        margin-top: 30px;

        & > div {
          display: flex;

          div {
            &:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }

      &:nth-child(1) {
        display: grid;
        margin-bottom: 30px;

        & > div {
          display: flex;
          align-items: center;
          margin: 10px 0;
          margin-top: 0;

          &:nth-child(3) {
            align-items: start;
            & > div {
              display: grid;

              a {
                margin: 5px 0;
              }
            }
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        margin-right: 20px;
      }

      div,
      a {
        @include fonts(OpenSans, 20px, 400, 20px, 0, none, none, none, #333333);
      }

      a {
        text-decoration: underline 1px;
        transition: color 0.3s;

        &:hover {
          color: rgb(240, 200, 127);
        }
      }
    }
  }

  .snd-msg {
    display: grid;
    border: 1px solid rgba(128, 128, 128, 0.11);
    border-radius: 20px;
    padding: 30px;

    & > div {
      &:first-child {
        margin: 0 10px;
        margin-bottom: 10px;
        @include fonts(OpenSans, 20px, 400, 20px, 0, none, none, none, #333333);
      }

      &:nth-child(2) {
        display: flex;
        justify-content: space-between;

        input {
          width: 100%;

          &:first-child {
            margin-right: 5px;
          }

          &:last-child {
            margin-left: 5px;
          }
        }
      }
    }

    input,
    textarea {
      padding: 10px;
      border-radius: 10px;
      margin: 5px 0;
      border: 2px solid rgba(128, 128, 128, 0.438);
      @include fonts(OpenSans, 15px, 400, 20px, 0, none, none, none, #333333);

      &:focus {
        outline: 0;
        box-shadow: 0px 0px 5px 0px rgb(255, 184, 51);
      }
    }

    textarea {
      resize: none;
    }

    button {
      margin-top: 10px;
      color: white;
      background-color: orange;
      border: 0;
      border-radius: 10px;
      height: 3em;
      width: 15em;
      justify-self: center;
      position: relative;
      overflow: hidden;
      @include fonts(TTHoves, 20px, 600, 20px, 0, none, none, uppercase, white);

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 100px;
        top: -25px;
        transform: rotate(29deg);
        background-color: white;
      }

      &::before {
        opacity: 0.3;
        left: -30px;
      }

      &::after {
        opacity: 0.5;
        left: -60px;
      }

      &:hover {
        &::before {
          animation: button-blick-b 0.4s;
        }

        &::after {
          animation: button-blick-a 0.4s;
        }
      }
    }
  }
}

.hr-block {
  margin-top: 40px;
  border-color: rgba(128, 128, 128, 0.11);
}

.map {
  margin-top: 30px;
  margin-bottom: 30px;
}

@keyframes button-blick-b {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(400px) rotate(29deg);
  }
}

@keyframes button-blick-a {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(380px) rotate(29deg);
  }
}

@media only screen and (max-width: 981px) {
  .contact {
    display: block;

    .info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50% 50%;
      margin-bottom: 30px;

      & > div {
        &:nth-child(1) {
          grid-column: 1 / 2;
          grid-row: span 2;
          text-align: left;
        }

        &:nth-child(2) {
          text-align: right;
          margin-bottom: 0;

          & > div {
            img {
              margin-right: 0;
            }
          }
        }

        &:nth-child(3) {
          margin-top: 0;
          text-align: right;

          & > div {
            img {
              margin-right: 5px;
            }
          }
        }
      }
    }

    .snd-msg {
      margin-bottom: 30px;
    }
  }

  .hr-block {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 755px) {
  .contact {
    .info {
      display: block;
      margin-bottom: 30px;

      & > div {
        &:nth-child(2) {
          text-align: left;
          margin-bottom: 30px;

          & > div {
            img {
              margin-right: 20px;
            }
          }
        }

        &:nth-child(3) {
          text-align: left;

          & > div {
            img {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }

  .hr-block {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 515px) {
  .contact {
    .info {
      border: 0;
      margin-bottom: 0;
      border-radius: 0;
      border-bottom: 2px solid rgba(128, 128, 128, 0.11);
    }

    .snd-msg {
      border: 0;
      display: block;

      & > div {
        &:last-of-type {
          display: block;

          input {
            &:first-child {
              margin-right: 0;
            }

            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
      input {
        width: 100%;
      }
      textarea {
        width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }

  .hr-block {
    margin-top: 0;
  }

  .map {
    height: 300px;
  }
}
