.catalog-title {
  display: flex;
  align-items: center;

  h1 {
    margin-right: 20px;
    font-family: TTHoves;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
    letter-spacing: 0.05em;
    text-wrap: nowrap;
  }

  hr {
    border-color: rgba(128, 128, 128, 0.377);
    border-style: dashed;
    width: 100%;
    margin: 0;
  }
}

.add-sub-catalog {
  margin-bottom: 20px;
  margin-left: 10px;
  border: 1px solid orange;
  background-color: transparent;
  color: orange;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
  font-family: TTHoves;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: orange;
  }
}

.sub-catalog {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  user-select: none;

  .catalog-block {
    border-bottom: 1px solid rgba(128, 128, 128, 0.404);
    border-right: 1px solid rgba(128, 128, 128, 0.404);
    padding: 10px;
    background-color: white;
    transition: all 0.3s;
    text-decoration: none;
    position: relative;
    color: gray;

    &:hover {
      border-color: rgba(128, 128, 128, 0);
      box-shadow: 5px 5px 10px 0 rgba(128, 128, 128, 0.404);

      .image {
        img {
          scale: 1.1;
        }
      }

      div:last-child {
        color: rgb(80, 80, 80);
      }
    }

    .image {
      overflow: hidden;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: scale 0.3s;
      }
    }

    hr {
      border-color: rgba(78, 78, 78, 0.144);
    }

    .name-catalog {
      text-align: center;
      text-wrap: balance;
      font-family: OpenSans;
      font-weight: 600;
      letter-spacing: 0.1em;
      font-size: 20px;
      transition: color 0.3s;
    }

    .delete {
      position: absolute;
      border-radius: 50%;
      background-color: orange;
      padding: 10px;
      top: -10px;
      right: -10px;
      display: flex;
      transition: scale 0.3s;

      &:hover {
        scale: 1.1;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media only screen and (max-width: 1425px) {
  .sub-catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1055px) {
  .sub-catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .catalog-title {
    h1 {
      font-size: 20px;
    }
  }

  .add-sub-catalog {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .sub-catalog {
    .catalog-block {
      div:last-child {
        letter-spacing: 0;
        font-size: 17px;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .sub-catalog {
    .catalog-block {
      div:last-child {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .catalog-title {
    h1 {
      text-wrap: balance;
    }
  }
}

@media only screen and (max-width: 500px) {
  .add-sub-catalog {
    width: 60%;
  }
}

@media only screen and (max-width: 380px) {
  .sub-catalog {
    grid-template-columns: repeat(1, 1fr);

    .catalog-block {
      div:last-child {
        letter-spacing: 0.02em;
        font-size: 20px;
      }
    }
  }
}
