@import "./assets/fonts/fonts.scss";

@mixin fonts($ff, $fs, $fw, $lh, $ls, $ta, $td, $tt, $c) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  text-decoration: $td;
  text-transform: $tt;
  text-align: $ta;
  color: $c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(224, 224, 224);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 191, 71);
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.pages {
  margin-top: 20px;
  margin-left: 15px;
  display: flex;

  div {
    margin: 0 10px;
    cursor: default;
  }

  div,
  a {
    @include fonts(OpenSans, 15px, 400, 20px, 0, none, none, none, #333333);
  }

  a {
    &:not(:last-child) {
      transition: color 0.3s;

      &:hover {
        color: orange;
      }
    }
  }
}
