@mixin fonts($ff, $fs, $fw, $lh, $ls, $ta, $td, $tt, $c) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  text-decoration: $td;
  text-transform: $tt;
  text-align: $ta;
  color: $c;
}

.table-container {
  h3 {
    margin-top: 3em;
    @include fonts(
      TTHoves,
      15px,
      600,
      15px,
      0.1em,
      start,
      none,
      uppercase,
      rgb(75, 75, 75)
    );
  }

  & > div {
    &:first-of-type {
      margin-bottom: 3em;
      @include fonts(
        OpenSans,
        15px,
        400,
        15px,
        0.05em,
        start,
        none,
        none,
        rgb(59, 59, 59)
      );
    }

    &:last-of-type {
      border-left: 2px solid rgb(255, 189, 66);
      padding-left: 10em;
      margin-bottom: 5em;

      table {
        border-collapse: collapse;
        width: 100%;

        thead {
          border-bottom: 1px solid rgba(128, 128, 128, 0.082);

          tr {
            th {
              padding-bottom: 10px;

              @include fonts(
                TTHoves,
                20px,
                600,
                20px,
                0.1em,
                center,
                none,
                none,
                rgb(56, 56, 56)
              );

              &:last-child {
                border-left: 1px solid rgba(128, 128, 128, 0.082);
              }
            }
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid rgba(128, 128, 128, 0.082);

            td {
              padding: 20px 0;

              @include fonts(
                OpenSans,
                15px,
                600,
                15px,
                0.05em,
                center,
                none,
                none,
                rgb(92, 92, 92)
              );

              &:last-child {
                border-left: 1px solid rgba(128, 128, 128, 0.082);
              }

              span {
                margin-left: 5em;
              }
            }
          }
        }
      }
    }
  }
}
