.catalogs {
  margin-bottom: 30px;

  h1 {
    font-family: TTHoves;
    text-transform: uppercase;
    color: gray;
    margin-left: 30px;
  }

  .categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 40px;
    cursor: default;
    user-select: none;
    margin-bottom: 40px;

    .category {
      border-radius: 5px;
      padding: 50px;
      padding-bottom: 100px;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      transition: box-shadow 0.3s, opacity 1s, filter 1s, transform 1s;

      &:hover {
        box-shadow: 0 0 10px 0 black;

        img,
        img:first-of-type {
          &:first-of-type {
            right: 0;
          }

          &:last-child {
            scale: 1.2;
            opacity: 1;
            left: 60px;
          }
        }
      }

      &:nth-child(1),
      &:nth-child(4) {
        background-color: orange;
        color: white;
      }

      &:nth-child(2),
      &:nth-child(3) {
        background-color: #f3f3f3;
        color: black;
      }

      &:nth-child(1) {
        img {
          &:first-of-type {
            width: 50%;
            right: -100px;
            margin: auto;
            bottom: 0;
            top: 0;
          }
        }
      }

      &:nth-child(2) {
        img {
          &:first-of-type {
            width: 50%;
            right: -80px;
            margin: auto;
            bottom: 0;
            top: 0;
          }
        }
      }

      &:nth-child(3) {
        img {
          &:first-of-type {
            width: 40%;
            right: -80px;
            margin: auto;
            bottom: 0;
            top: 0;
            rotate: -130deg;
          }
        }
      }

      &:nth-child(4) {
        img {
          width: 55%;
          right: -100px;
          bottom: 0px;
        }
      }

      &:nth-child(5) {
        background-color: gray;
        color: white;

        img {
          width: 50%;
          right: -100px;
          bottom: 0px;
        }
      }

      &:nth-child(6) {
        background-color: gray;
        color: white;

        img {
          width: 50%;
          right: -90px;
          bottom: 0px;
        }
      }

      &:nth-child(4),
      &:nth-child(6) {
        padding-bottom: 170px;
      }

      img {
        position: absolute;
        bottom: -30px;
        right: -30px;
        width: 150px;

        &:first-of-type {
          transition: right 0.3s ease;
        }

        &:last-child {
          rotate: 90deg;
          width: 70px;
          left: 0px;
          opacity: 0;
          bottom: 20px;
          top: auto;
          transition: 0.3s ease;
        }
      }

      h2 {
        margin-top: 0;
        font-family: TTHoves;
        text-transform: uppercase;
        white-space: wrap;
        font-size: 1.5vw;
      }
    }
  }

  button {
    border: 0;
    background-color: orange;
    border-radius: 10px;
    width: 35%;
    text-transform: uppercase;
    font-family: TTHoves;
    font-weight: 600;
    font-size: 20px;
    height: 60px;

    div {
      color: white;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      &::after {
        content: "\27A0";
        margin-left: 0px;
        transform: scale(2);
        display: inline-block;
        color: white;
        opacity: 0;
        transition: all 0.4s;
      }
    }

    &:hover {
      div {
        &::after {
          opacity: 1;
          margin-left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1643px) {
  .catalogs {
    .categories {
      .category {
        h2 {
          font-size: 2vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 1533px) {
  .catalogs {
    .categories {
      .category {
        &:nth-child(1) {
          img {
            &:first-of-type {
              width: 40%;
              right: -60px;
            }
          }
        }

        &:nth-child(2) {
          img {
            &:first-of-type {
              width: 40%;
              right: -50px;
            }
          }
        }

        &:nth-child(3) {
          img {
            &:first-of-type {
              width: 40%;
              right: -60px;
            }
          }
        }

        &:nth-child(4) {
          img {
            &:first-of-type {
              right: -90px;
            }
          }
        }

        &:nth-child(5) {
          img {
            &:first-of-type {
              right: -70px;
            }
          }
        }

        h2 {
          font-size: 2vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 1272px) {
  .catalogs {
    button {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1261px) {
  .catalogs {
    .categories {
      grid-template-columns: repeat(2, 1fr);

      .category {
        &:nth-child(3) {
          img {
            &:first-of-type {
              width: 50%;
              margin-bottom: 20px;
              right: -60px;
            }
          }
        }

        h2 {
          font-size: 2.5vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 962px) {
  .catalogs {
    .categories {
      .category {
        h2 {
          font-size: 2vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 888px) {
  .catalogs {
    .categories {
      .category {
        &:hover {
          img {
            &:last-of-type {
              scale: 1;
              left: 30px;
            }
          }
        }
      }
    }

    button {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 740px) {
  .catalogs {
    button {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 718px) {
  .catalogs {
    .categories {
      .category {
        padding-left: 20px;
        padding-right: 80px;

        &:nth-child(1) {
          img {
            &:first-of-type {
              right: -40px;
            }
          }
        }

        &:nth-child(2) {
          img {
            &:first-of-type {
              right: -40px;
            }
          }
        }

        &:nth-child(3) {
          img {
            &:first-of-type {
              right: -50px;
            }
          }
        }

        &:nth-child(4) {
          img {
            &:first-of-type {
              right: -60px;
            }
          }
        }

        &:nth-child(5) {
          img {
            &:first-of-type {
              right: -60px;
            }
          }
        }

        &:nth-child(6) {
          img {
            &:first-of-type {
              right: -60px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 573px) {
  .catalogs {
    .categories {
      grid-template-columns: 1fr;
      .category {
        &:nth-child(1) {
          img {
            &:first-of-type {
              right: -70px;
            }
          }
        }

        &:nth-child(2) {
          img {
            &:first-of-type {
              right: -60px;
            }
          }
        }

        &:nth-child(3) {
          img {
            &:first-of-type {
              right: -60px;
              width: 150px;
            }
          }
        }

        &:nth-child(4) {
          img {
            &:first-of-type {
              right: -100px;
            }
          }
        }

        &:nth-child(5) {
          img {
            &:first-of-type {
              right: -70px;
              width: 150px;
            }
          }
        }

        &:nth-child(6) {
          img {
            &:first-of-type {
              right: -90px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 515px) {
  .catalogs {
    .categories {
      .category {
        &:nth-child(4) {
          img {
            &:first-of-type {
              right: -80px;
              width: 180px;
            }
          }
        }

        &:nth-child(6) {
          img {
            &:first-of-type {
              right: -140px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 485px) {
  .catalogs {
    button {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .catalogs {
    .categories {
      .category {
        padding-right: 0;

        h2 {
          margin-right: 60px;
        }

        &:nth-child(2) {
          img {
            &:first-of-type {
              right: -45px;
            }
          }
        }

        &:nth-child(5) {
          img {
            &:first-of-type {
              right: -50px;
              width: 110px;
            }
          }
        }

        &:nth-child(6) {
          img {
            &:first-of-type {
              right: -80px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 386px) {
  .catalogs {
    button {
      width: 100%;
      font-size: 17px;
    }
  }
}
