.slider {
  height: 30em;
  margin-top: 30px;
  margin-bottom: 20px;

  &:hover {
    .slick-prev {
      left: 25px;
      opacity: 1;
    }

    .slick-next {
      right: 25px;
      opacity: 1;
    }

    .slick-active {
      img {
        &:first-child {
          scale: 1.2;
        }
      }
    }
  }

  * {
    outline: none;
    border: 0;
    box-sizing: inherit;
  }

  .slick-slide {
    overflow: hidden;
  }

  .slick-prev {
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: left 0.3s, opacity 0.3s;

    &::before {
      color: white;
      font-size: 35px;
      transition: opacity 0.3s;
    }
  }

  & > button {
    width: 30px;
    height: 30px;
  }

  .slick-next {
    right: 0;
    z-index: 2;
    opacity: 0;
    transition: right 0.3s, opacity 0.3s;

    &::before {
      color: white;
      font-size: 35px;
      transition: opacity 0.3s;
    }
  }

  .image-block {
    position: relative;

    img {
      &:first-child {
        width: 100%;
        height: 30em;
        object-fit: cover;
        filter: blur(3px);
        transition: scale 0.3s;
      }
    }

    .image-slider {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;
    }

    .img-p1 {
      width: 45%;
      right: 100px;
    }

    .img-p2 {
      width: 40%;
      right: 100px;
    }

    .img-p3 {
      width: 30%;
      right: 100px;
    }

    .img-p4 {
      width: 50%;
      right: 50px;
    }

    .img-p5 {
      width: 35%;
      right: 100px;
    }

    .img-p6 {
      width: 55%;
      right: 20px;
    }

    .fon-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
      scale: -1;
      opacity: 0.7;
      filter: blur(1px);
      z-index: 0;
    }

    .info-category {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 150px;

      h1 {
        font-family: TTHoves;
        text-transform: uppercase;
        color: white;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.05em;
        max-width: 400px;
      }

      div {
        font-family: OpenSans;
        color: white;
        max-width: 46%;
      }
    }
  }

  .slick-dots {
    bottom: 0;

    button {
      &::before {
        font-size: 15px;
        color: white;
        opacity: 0.5;
        transition: opacity 0.3s, color 0.3s;
      }
    }

    .slick-active {
      button {
        &::before {
          color: orange;
          opacity: 1;
        }
      }
    }
  }
}

.info-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  width: 100%;
  margin-bottom: 30px;

  .card {
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.342);
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 30px 5px;
    cursor: default;
    transition: all 0.3s;

    &:hover {
      z-index: 1;
      border-color: rgba(128, 128, 128, 0);
      box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.68);
    }

    img {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }

    & > div {
      h4 {
        font-family: TTHoves;
        margin-top: 0;
        margin-bottom: 10px;
        color: rgb(83, 83, 83);
        font-size: 20px;
        letter-spacing: 0.05em;
      }

      div {
        font-family: OpenSans;
        font-size: 15px;
        line-height: 20px;
        color: gray;
      }
    }
  }
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 30px;

  .card {
    position: relative;

    &:hover {
      img {
        filter: blur(2px);
        transform: scale(1.05);
      }

      & > div {
        &:last-of-type {
          & > div {
            border-radius: 0;
            transform: translateY(0);
          }
        }
      }
    }

    img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
      border-radius: 10px;
      transition: filter 0.3s, transform 0.3s;
    }

    & > div {
      &:first-child {
        border-radius: 10px;
        padding: 20px;
        box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.68);
      }

      &:last-child {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        border-radius: 10px;

        & > div {
          box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.68);
          padding: 20px;
          background-color: rgba(255, 255, 255, 0.726);
          transform: translateY(110%);
          transition: transform 0.5s;

          h1 {
            font-family: TTHoves;
            text-transform: uppercase;
            color: rgb(65, 65, 65);
            margin-top: 0;
            font-size: 23px;
            line-height: 26px;
            text-align: center;
          }

          div {
            font-family: OpenSans;
            font-size: 20px;
            margin-bottom: 20px;
            color: rgb(44, 44, 44);
            text-align: center;
          }

          a {
            text-decoration: none;
          }

          button {
            font-family: TTHoves;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-size: 20px;
            padding: 1em 10px;
            width: 100%;
            border-radius: 10px;
            border: 0;
            background-color: orange;
            margin: auto;
            margin-bottom: 4px;
            color: white;
            display: block;
            position: relative;
            overflow: hidden;

            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 20px;
              height: 100px;
              top: -25px;
              transform: rotate(29deg);
              background-color: white;
            }

            &::before {
              opacity: 0.3;
              left: -30px;
            }

            &::after {
              opacity: 0.5;
              left: -60px;
            }

            &:hover {
              &::before {
                animation: button-blick-b 0.4s;
              }

              &::after {
                animation: button-blick-a 0.4s;
              }
            }
          }
        }
      }
    }
  }
}

hr {
  border: 1px solid rgba(128, 128, 128, 0.377);
}

.several-products {
  margin-bottom: 30px;

  h1 {
    font-family: TTHoves;
    text-transform: uppercase;
    color: rgb(65, 65, 65);
    margin-top: 30px;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0.1em;
  }

  .products-list-sev {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    .card:hover ~ .card {
      left: 100px;
      transition: 0.4s ease-out;
    }

    .card {
      background-color: white;
      border-radius: 10px;
      box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.68);
      width: 20em;
      position: relative;
      left: 0px;
      transition: 0.4s ease-out;

      &:not(:first-child) {
        margin-left: -150px;
      }

      &:hover {
        rotate: -1deg;
        translate: 0 -20px;
        transition: 0.4s ease-out;
      }

      img {
        width: 100%;
        height: 15em;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
      }

      div {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 10em;

        h1 {
          margin-top: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        a {
          border: 1px solid orange;
          border-radius: 10px;
          text-decoration: none;
          transition: all 0.3s;

          button {
            display: block;
            font-family: TTHoves;
            font-weight: 600;
            font-size: 15px;
            color: orange;
            border: 0;
            border-radius: 10px;
            background-color: transparent;
            padding: 10px;
            width: 100%;
            transition: color 0.3s;
          }

          &:hover {
            background-color: orange;

            button {
              color: white;
            }
          }
        }
      }
    }

    .card2 + .showAnimation {
      animation-delay: 0.3s;
    }

    .card3 + .showAnimation {
      animation-delay: 0.6s;
    }

    .card4 + .showAnimation {
      animation-delay: 0.9s;
    }

    .card5 + .showAnimation {
      animation-delay: 0.12s;
    }
  }

  .slider2 {
    margin: 30px 0;
    display: none;

    * {
      outline: none;
      border: 0;
    }

    .slick-slide {
      & > div {
        margin: 0 5px;
      }
    }

    .product-block {
      overflow: hidden;
      border: 1px solid rgba(128, 128, 128, 0.397);
      border-radius: 10px;

      img {
        width: 100%;
        height: 15em;
        object-fit: cover;
      }

      & > div {
        padding: 0 10px;
        padding-bottom: 10px;

        h2 {
          font-family: TTHoves;
          color: rgb(128, 128, 128);
          max-width: 300px;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        a {
          button {
            background-color: transparent;
            border: 1px solid orange;
            border-radius: 10px;
            color: orange;
            width: 100%;
            height: 40px;
            transition: all 0.3s;

            &:hover {
              color: white;
              background-color: orange;
            }
          }
        }
      }
    }

    .slick-prev {
      left: -40px;
      transition: left 0.3s, opacity 0.3s;

      &::before {
        color: gray;
        font-size: 35px;
        opacity: 1;
        transition: opacity 0.3s;
      }
    }

    & > button {
      width: 30px;
      height: 30px;
    }

    .slick-next {
      right: -35px;
      transition: right 0.3s, opacity 0.3s;

      &::before {
        color: gray;
        opacity: 1;
        font-size: 35px;
        transition: opacity 0.3s;
      }
    }
  }

  & > a {
    text-decoration: none;

    button {
      font-family: TTHoves;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-size: 20px;
      padding: 1em 3em;
      border-radius: 10px;
      border: 0;
      background-color: orange;
      margin: auto;
      margin-bottom: 4px;
      color: white;
      display: block;
      position: relative;
      overflow: hidden;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 100px;
        top: -10px;
        transform: rotate(29deg);
        background-color: white;
      }

      &::before {
        opacity: 0.3;
        left: -40px;
      }

      &::after {
        opacity: 0.5;
        left: -70px;
      }

      &:hover {
        &::before {
          animation: button-blick-b2 0.4s;
        }

        &::after {
          animation: button-blick-a2 0.4s;
        }
      }
    }
  }
}

.info-text {
  margin-bottom: 30px;

  & > div {
    margin: 30px 0;

    h2 {
      font-family: TTHoves;
      text-transform: uppercase;
      color: rgb(65, 65, 65);
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.05em;
    }

    div,
    li {
      font-family: OpenSans;
    }

    li {
      margin: 10px 0;
    }
  }
}

@keyframes button-blick-b {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(400px) rotate(29deg);
  }
}

@keyframes button-blick-a {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(380px) rotate(29deg);
  }
}

@keyframes button-blick-b2 {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(510px) rotate(29deg);
  }
}

@keyframes button-blick-a2 {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(490px) rotate(29deg);
  }
}

@keyframes hidden-anim {
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1822px) {
  main {
    .slider {
      .image-block {
        .img-p1 {
          width: 40%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1765px) {
  main {
    .slider {
      .image-block {
        .img-p6 {
          width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1666px) {
  main {
    .slider {
      .image-block {
        .img-p1 {
          width: 35%;
        }
        .img-p2 {
          width: 35%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1305px) {
  main {
    .slider {
      .image-block {
        .img-p6 {
          width: 45%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1290px) {
  main {
    .slider {
      .image-block {
        .img-p4 {
          width: 45%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  main {
    .slider {
      .image-block {
        .img-p1 {
          width: 30%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1265px) {
  main {
    .slider {
      .image-block {
        .img-p2 {
          width: 30%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1290px) {
  main {
    .slider {
      height: 25em;

      .image-block {
        img {
          &:first-child {
            height: 25em;
          }
        }
      }
    }

    .info-block {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 10px;
    }

    .catalog {
      .card {
        img {
          height: 30vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 1215px) {
  main {
    .slider {
      .image-block {
        .info-category {
          left: 70px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1175px) {
  main {
    .catalog {
      grid-template-columns: repeat(2, 1fr);

      .card {
        img {
          height: 40vh;
        }
      }
    }
  }
}

@media only screen and (max-width: 1030px) {
  main {
    .slider {
      .image-block {
        .info-category {
          h1 {
            font-size: 20px;
            max-width: 300px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  main {
    .slider {
      height: 20em;

      .image-block {
        img {
          &:first-child {
            height: 20em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  main {
    .slider {
      .image-block {
        .img-p1,
        .img-p2,
        .img-p3,
        .img-p4,
        .img-p5,
        .img-p6 {
          display: none;
        }

        .info-category {
          h1 {
            max-width: 400px;
          }

          & > div {
            max-width: 400px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 844px) {
  main {
    .slider {
      height: 15em;

      .image-block {
        img {
          &:first-child {
            height: 15em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  main {
    .catalog {
      .card {
        img {
          height: 25vh;
        }
      }
    }

    .several-products {
      .products-list-sev {
        display: none;
      }

      .slider2 {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 745px) {
  main {
    .slider {
      .image-block {
        .info-category {
          h1 {
            max-width: 300px;
          }

          & > div {
            max-width: 300px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 666px) {
  main {
    .info-block {
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 650px) {
  main {
    .catalog {
      .card {
        & > div {
          &:last-child {
            button {
              font-size: 15px;
            }
          }
        }
      }
    }

    .several-products {
      .slider2 {
        .product-block {
          img {
            height: 10em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 595px) {
  main {
    .slider {
      .image-block {
        .info-category {
          h1 {
            font-size: 15px;
            max-width: 250px;
            line-height: 20px;
          }

          & > div {
            max-width: 270px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  main {
    .catalog {
      grid-template-columns: 1fr;

      .card {
        img {
          height: 30vh;
        }

        & > div {
          &:last-child {
            button {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  main {
    .slider {
      .image-block {
        .info-category {
          left: 40px;

          & > div {
            max-width: 300px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 405px) {
  main {
    .slider {
      .image-block {
        .info-category {
          .fon-img {
            min-height: 15em;
          }

          & > div {
            max-width: 260px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  main {
    .slider {
      .image-block {
        .fon-img {
          min-height: 15em;
        }

        .info-category {
          left: 20px;
          top: 110px;

          h1 {
            font-size: 13px;
          }

          & > div {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 340px) {
  main {
    .slider {
      .image-block {
        .info-category {
          left: 10px;

          h1 {
            font-size: 12px;
            max-width: 200px;
          }

          & > div {
            max-width: 240px;
          }
        }
      }
    }
  }
}
