.error-back {
  text-decoration: none;
  position: relative;
  overflow: hidden;

  button {
    margin: 20px;
    border: 0;
    padding: 20px;
    background-color: orange;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;

    &::before {
      content: "\27A0";
      margin-right: 20px;
      transform: scale(2) rotate(180deg);
      display: inline-block;
      transition: all 0.4s;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 100px;
    top: -35px;
    transform: rotate(29deg);
    background-color: white;
  }

  &::before {
    opacity: 0.3;
    left: -30px;
  }

  &::after {
    opacity: 0.5;
    left: -60px;
  }

  &:hover {
    &::before {
      animation: button-blick-b 0.3s;
    }

    &::after {
      animation: button-blick-a 0.3s;
    }
  }
}

.error {
  margin-top: 10%;
  display: grid;
  grid-template-rows: repeat(3, auto);

  * {
    justify-self: center;
  }

  & > div {
    &:first-child {
      display: flex;
      align-items: center;

      h2 {
        margin: 0;
        font-family: TTHoves;
        font-weight: 600;
        color: orange;
        margin-right: 5px;
        cursor: default;
      }

      div {
        font-family: OpenSans;
        color: gray;
      }
    }

    &:last-child {
      font-family: OpenSans;
      color: gray;
    }
  }

  h1 {
    font-family: TTHoves;
    font-size: 200px;
    margin-bottom: 10px;
    color: rgb(85, 85, 85);
    display: flex;
    align-items: center;
    margin-top: 0;

    div {
      &:first-child {
        transform: translateX(40px);
      }

      &:last-child {
        transform: translateX(-40px);
        z-index: -1;
      }
    }

    img {
      width: 200px;
      height: 200px;
    }
  }
}

.cross {
  width: 40px;
  position: absolute;
  opacity: 0.2;

  &-1 {
    top: 200px;
    left: 700px;
    transform: rotate(29deg);
  }

  &-2 {
    top: 450px;
    left: 600px;
    transform: rotate(-19deg);
  }

  &-3 {
    top: 650px;
    left: 800px;
    transform: rotate(0);
  }

  &-4 {
    top: 150px;
    right: 700px;
    transform: rotate(29deg);
  }

  &-5 {
    top: 350px;
    right: 600px;
    transform: rotate(-19deg);
  }

  &-6 {
    top: 600px;
    right: 700px;
    transform: rotate(0);
  }
}

.wave {
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  z-index: -1;
}

@keyframes button-blick-b {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(440px) rotate(29deg);
  }
}

@keyframes button-blick-a {
  from {
    transform: translateX(0) rotate(29deg);
  }
  to {
    transform: translateX(420px) rotate(29deg);
  }
}

@media only screen and (max-width: 1750px) {
  .cross {
    &-3 {
      left: 650px;
    }
  }
}

@media only screen and (max-width: 1587px) {
  .cross {
    &-1 {
      left: 500px;
    }

    &-2 {
      left: 400px;
    }

    &-3 {
      left: 500px;
    }

    &-4 {
      right: 600px;
    }

    &-5 {
      right: 400px;
    }

    &-6 {
      right: 500px;
    }
  }
}

@media only screen and (max-width: 1290px) {
  .cross {
    &-1 {
      left: 400px;
    }

    &-2 {
      left: 300px;
    }

    &-3 {
      left: 400px;
    }

    &-4 {
      right: 400px;
    }

    &-5 {
      right: 300px;
    }

    &-6 {
      right: 300px;
    }
  }
}

@media only screen and (max-width: 1115px) {
  .cross {
    &-1 {
      left: 300px;
    }

    &-2 {
      left: 200px;
      top: 400px;
    }

    &-3 {
      left: 300px;
    }

    &-4 {
      right: 300px;
    }

    &-5 {
      right: 200px;
    }

    &-6 {
      right: 200px;
    }
  }
}

@media only screen and (max-width: 920px) {
  .cross {
    &-1 {
      left: 200px;
    }

    &-2 {
      left: 100px;
    }

    &-3 {
      left: 200px;
    }

    &-4 {
      right: 200px;
    }

    &-5 {
      right: 100px;
    }

    &-6 {
      right: 100px;
    }
  }

  .wave {
    bottom: -50px;
  }
}

@media only screen and (max-width: 730px) {
  .error {
    & > div {
      &:last-child {
        text-align: center;
        text-wrap: balance;
      }
    }
  }
}

@media only screen and (max-width: 695px) {
  .error-back {
    button {
      padding: 15px 15px;
    }
  }

  .cross {
    &-1 {
      left: 100px;
    }

    &-2 {
      left: 50px;
    }

    &-3 {
      left: 100px;
      top: 550px;
    }

    &-4 {
      right: 100px;
    }

    &-5 {
      right: 50px;
    }

    &-6 {
      right: 50px;
      top: 500px;
    }
  }

  .wave {
    bottom: -20px;
  }
}

@media only screen and (max-width: 510px) {
  .cross {
    &-1 {
      left: 50px;
    }

    &-2 {
      left: 10px;
    }

    &-3 {
      left: 50px;
      top: 500px;
    }

    &-4 {
      right: 50px;
    }

    &-5 {
      right: 10px;
    }

    &-6 {
      right: 10px;
      top: 500px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .cross {
    &-1 {
      left: 10px;
    }

    &-2 {
      left: 0px;
    }

    &-3 {
      left: 80px;
      top: 500px;
    }

    &-4 {
      right: 10px;
    }

    &-5 {
      right: 0px;
    }

    &-6 {
      right: 80px;
      top: 480px;
    }
  }
}

@media only screen and (max-width: 430px) {
  .cross {
    &-2 {
      display: none;
    }
  }
}

@media only screen and (max-width: 380px) {
  .cross {
    &-1 {
      display: none;
    }

    &-3 {
      display: none;
    }

    &-4 {
      display: none;
    }

    &-5 {
      display: none;
    }

    &-6 {
      display: none;
    }
  }
}
